body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* NAVIGATION */
.NavGroup {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.NavList {
  list-style-type: none;
  margin-inline: 1.5rem;
  padding: 10px;
}

.NavList:hover {
  background-color: #FBDABB;
  border-radius: 8px;
}

.NavList > a {
  font-family: 'Karla', sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  color: #495E57;
  text-decoration: none;
}

@media only screen and (max-width:1300px) {
  .NavList > a {
    font-size: 1em;
  }
  .NavList {
    margin-inline: 0.25em;
  }
  .NavGroup img {
    scale: 0.75;
    margin-right: -40px;
  }
}
/*HERO*/

#hero {
  background-color: #495E57;
  display:flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  align-items: start;
}

#hero img {
  margin-bottom: -50px;
  margin-top:30px;
  border-radius: 10px;
}

.heroDetails h1 {
  font: 64pt markazi-text;
  color: #F4CE14;
  margin-bottom:-10px;
}

#city {
  color:white;
  font: 40pt markazi-text;
  margin-top: 0px;
  margin-bottom:10px;
}

.heroDetails p {
  color:white;
  width: 50%;
  font-family: 'Karla', sans-serif;
  margin-top: 0px;
}

button {
  color:black;
  font-family: 'Karla', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  background-color: #F4CE14;
  width: 25%;
  height: 50px;
  border-radius: 10px;
  border-color:#F4CE14;
}

button:hover {
  transform: scale(1.02);
}

.heroDetails {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50rem;
}

@media only screen and (max-width:1250px) {
  .heroDetails {
    align-items: center;
    text-align: center;
  }
  button {
    width:15rem;
  }
  #hero {
    padding-bottom: 40px;
  }
}

/*SPECIALS*/
#specialTop {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25%;
  align-items: center;
}

#specialButton {
  width: 12rem;
}

#specialContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.specialImage {
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
  height: 250px;
  object-fit: cover;
}

.card {
  background-color: #EDEFEE;
  border-radius: 10px;
}

.card:hover {
  background-color: #FBDABB;
}

.margin20 {
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Karla', sans-serif;
}

#specialNamePrice {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font: 12pt markazi-text;
}

#specialNamePrice > h3 {
  color:#F4CE14
}

#specialText {
  font: 30pt markazi-text;
  font-weight: 300;
}

@media only screen and (max-width:720px) {
  #specialButton {
    margin-bottom: 10px;
  }
}

/*TESTIMONIALS*/
#testimonialField {
  padding-top: 100px;
  background-color: #F4CE14;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
  height: 800px;
  justify-content: center;
  gap: 50px;
}

#testimonialField > h1 {
  font: 40pt markazi-text;
}

#testimonialContainer {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  margin-bottom:100px;
  font-family: 'Karla', sans-serif;
}

.card2 {
  background-color: #EDEFEE;
  width: 20rem;
  border-radius: 10px;
}

.card2:hover {
  background-color: #FBDABB;
}

.card2content {
  margin-left: 5%;
  margin-left: 5%;
}

.row {
  display: flex;
  align-items: center;
  gap:10px;
}

.row > img {
  width:200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

@media only screen and (max-width:665px) {
  #testimonialField {
    padding-top: 395px;
    padding-bottom: 300px;
  }
}

/*CHICAGO*/
#minneapolis {
  display: flex;
  flex-wrap:wrap-reverse;
  justify-content: center;
  margin-bottom: 100px;
}

#ownerDesc {
  width: 400px;
  list-style: none;
}

#ownerDesc h1 {
  font: 30pt markazi-text;
  font-weight: 400;
  margin-bottom: 0px;
}

#ownerDesc h2 {
  font: 18pt markazi-text;
  margin-top: 0px;
}

#ownerDesc p {
  font-family: 'Karla', sans-serif;
}

#ownerImages {
  width:400px;
  list-style: none;
}

#ownerImage {
  border-radius: 10px;
}

/*FOOTER*/
.FooterSection > ul {
  display:inline-flex;
  flex-direction: column;
  list-style: none;
  justify-content: flex-start;
}

.FooterSection {
  background-color: #EDEFEE;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.FooterSection img {
  margin-top: 1.5rem;
}

.FooterSection h3 {
  font-family: 'Karla', sans-serif;
  color: #495E57;
  margin-bottom: 8px;
}

.FooterSection a {
  font-family: 'Karla', sans-serif;
  color: #495E57;
  text-decoration: none;
  margin-bottom:6px;
}

.FooterSection a:hover {
  text-decoration: underline;
}

.FooterSection text {
    font-family: 'Karla', sans-serif;
    color: #495E57;
    margin-bottom: 6px;
}

/*BOOKING PAGE*/
.center {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FBDABB;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 10px;
  margin-bottom: 50px;
}

.center > h1 {
  font: 40pt markazi-text;
  color: #495E57;
  padding: 10px;
  border-radius: 8px;
}

.formGroup {
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-bottom: 10px;
}

.formGroup label {
  width:max-content;
  margin-right: 10px;
  text-align: left;
  font-family: 'Karla', sans-serif;
  color:#495E57
}

#submit {
  margin-bottom: 100px;
  background-color: #495E57;
  color: #F4CE14;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  width: 12rem;
  height: 2rem;
  justify-self: center;
  border-radius: 10px;
}

#submit:hover:enabled {
  scale: 1.05;
}

#submit:disabled {
  background-color:#FFFFFF;
  color: #FFF0FF;
}

/*CONFIRMATION*/
.confirmed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FBDABB;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 10px;
  margin-bottom: 50px;
}

.confirmed box {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  justify-items: center;
  font-family: 'Karla', sans-serif;
  color:#495E57;
  border-radius: 10px;
}

.confirmed > p {
  font: 20pt markazi-text;
  color:#495E57;
}

.confirmed > h1 {
  font: 40pt markazi-text;
  color:#495E57
}

.confirmed box:hover {
  background-color: #495E57;
  color: #F4CE14;
}